<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos</title>
    <link rel="stylesheet" href="static/style_global.css">
    <link rel="stylesheet" href="static/style_apropos.css">

</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <h1>À propos de cette application</h1>
        <p>
            Cette application a pour but de fournir des informations sur la qualité de l'air dans différentes villes.
            Les données sont récupérées depuis une base de données MongoDB et affichées sous forme de graphiques et de classements.
        </p>

        <h2>Participants au projet</h2>
        <div class="participants-container">
            <div class="participant-card">
                <h3>Célya GUILLEMIN</h3>
                <p>Etudiante à l'ESEO option e-Sante</p>
            </div>
            <div class="participant-card">
                <h3>Mattéo AILLET</h3>
                <p>Etudiant à l'ESEO option Industrie 4.0</p>
            </div>
            <div class="participant-card">
                <h3>Corentin PINEAU</h3>
                <p>Etudiant à l'ESEO option Industrie 4.0</p>
            </div>
            <div class="participant-card">

                <h3>Augustin CHAMOUSSET</h3>
                <p>Etudiant à l'ESEO option e-Sante</p>
            </div>
        </div>

        <h2>Échelle de dangerosité de la qualité de l'air (PM2.5)</h2>
        <p>
            Cette échelle fournit une indication des risques pour la santé associés aux différents niveaux de concentration de particules fines PM2.5 (en microgrammes par mètre cube - µg/m³). Il est important de consulter les recommandations des autorités locales en matière de qualité de l'air.
        </p>

        <table>
            <thead>
                <tr>
                    <th>Indice Qualité Air (IQA)</th>
                    <th>Niveau de pollution</th>
                    <th>Risque pour la santé</th>
                    <th>Recommandations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Indice Qualité Air (IQA)">0 - 12</td>
                    <td data-label="Niveau de pollution">Bon</td>
                    <td data-label="Risque pour la santé">Risque minimal.</td>
                    <td data-label="Recommandations">Profitez de vos activités de plein air !</td>
                </tr>
                <tr>
                    <td data-label="Indice Qualité Air (IQA)">12.1 - 35.4</td>
                    <td data-label="Niveau de pollution">Modéré</td>
                    <td data-label="Risque pour la santé">Risque acceptable pour la plupart des gens, mais les personnes sensibles (enfants, personnes âgées, personnes souffrant de maladies respiratoires ou cardiaques) peuvent ressentir une légère irritation.</td>
                    <td data-label="Recommandations">Les personnes sensibles devraient réduire les efforts prolongés ou intenses à l'extérieur.</td>
                </tr>
                <tr>
                    <td data-label="Indice Qualité Air (IQA)">35.5 - 55.4</td>
                    <td data-label="Niveau de pollution">Mauvais pour les groupes sensibles</td>
                    <td data-label="Risque pour la santé">Les personnes sensibles (enfants, personnes âgées, personnes souffrant de maladies respiratoires ou cardiaques) peuvent ressentir des effets plus importants. La population générale n'est pas susceptible d'être affectée.</td>
                    <td data-label="Recommandations">Les personnes sensibles devraient éviter les efforts prolongés ou intenses à l'extérieur. La population générale devrait réduire les efforts prolongés ou intenses à l'extérieur.</td>
                </tr>
                <tr>
                    <td data-label="Indice Qualité Air (IQA)">55.5 - 150.4</td>
                    <td data-label="Niveau de pollution">Mauvais</td>
                    <td data-label="Risque pour la santé">Tout le monde peut commencer à ressentir des effets sur la santé ; les personnes sensibles peuvent ressentir des effets plus graves.</td>
                    <td data-label="Recommandations">Les personnes sensibles devraient éviter tout effort à l'extérieur. La population générale devrait réduire considérablement les efforts prolongés ou intenses à l'extérieur.</td>
                </tr>
                <tr>
                    <td data-label="Indice Qualité Air (IQA)">150.5 - 250.4</td>
                    <td data-label="Niveau de pollution">Très mauvais</td>
                    <td data-label="Risque pour la santé">Risque élevé d'effets sur la santé pour tout le monde.</td>
                    <td data-label="Recommandations">Tout le monde devrait éviter tout effort à l'extérieur. Les personnes souffrant de maladies cardiaques ou respiratoires, les enfants et les personnes âgées devraient rester à l'intérieur.</td>
                </tr>
                <tr>
                    <td data-label="Indice Qualité Air (IQA)">250.5 - 500+</td>
                    <td data-label="Niveau de pollution">Dangereux</td>
                    <td data-label="Risque pour la santé">Risque très élevé d'effets graves sur la santé pour tout le monde.</td>
                    <td data-label="Recommandations">Tout le monde devrait rester à l'intérieur et éviter toute activité physique. Les personnes souffrant de maladies cardiaques ou respiratoires, les enfants et les personnes âgées devraient rester à l'intérieur et minimiser leur activité physique.</td>
                </tr>
            </tbody>
        </table>
    </main>
    {% include 'footer.html' %}
</body>
</html>