<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse de la Pollution Atmosphérique en France</title>
    <link rel="stylesheet" href="static/style_accueil.css">
    <link rel="stylesheet" href="static/style_global.css">
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <section>
            <h2>Présentation</h2>
            <p>Sélectionnez une ville pour accéder aux données</p>
        </section>

        <!-- Carte SVG Interactive -->
        <section class="carte-container">
            <h2>Carte des villes</h2>
            <svg class="carte-france" viewBox="0 0 500 500">
                <!-- Image de la carte -->
                <image xlink:href="static/france.svg" width="500" height="500" />

                <!-- Points des villes -->
                <g class="ville" data-ville="Paris" transform="translate(255,125)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Paris</text>
                </g>
                <g class="ville" data-ville="Perpignan" transform="translate(270,450)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="70" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Perpignan</text>
                </g>

                <g class="ville" data-ville="Bordeaux" transform="translate(150,330)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-50" y="-30" width="60" height="18" rx="4" ry="4"/>
                    <text x="-47" y="-16">Bordeaux</text>
                </g>
                <g class="ville" data-ville="Ajaccio" transform="translate(470,475)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-70" y="-8" width="60" height="18" rx="4" ry="4"/>
                    <text x="-65" y="5">Ajaccio</text>
                </g>

                <g class="ville" data-ville="Albertville" transform="translate(394,295)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="80" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Albertville</text>
                </g>
                <g class="ville" data-ville="Angers" transform="translate(150,199)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Angers</text>
                </g>
                <g class="ville" data-ville="Auxerre" transform="translate(295,182)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="60" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Auxerre</text>
                </g>
                <g class="ville" data-ville="Bastia" transform="translate(495,434)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-60" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="-56" y="5">Bastia</text>
                </g>
                <g class="ville" data-ville="Besancon" transform="translate(381,211)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="80" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Besançon</text>
                </g>
                <g class="ville" data-ville="Biarritz" transform="translate(115,410)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-12" y="-30" width="50" height="18" rx="4" ry="4"/>
                    <text x="-10" y="-16">Biarritz</text>
                </g>
                <g class="ville" data-ville="Chalon" transform="translate(340,235)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-70" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="-65" y="5">Chalon</text>
                </g>
                <g class="ville" data-ville="Dijon" transform="translate(346,207)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-25" y="-30" width="50" height="18" rx="4" ry="4"/>
                    <text x="-22" y="-16">Dijon</text>
                </g>
                <g class="ville" data-ville="Dole" transform="translate(363,219)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-1" width="40" height="18" rx="4" ry="4"/>
                    <text x="12" y="12">Dole</text>
                </g>
                <g class="ville" data-ville="Dreux" transform="translate(218,132)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-60" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="-55" y="5">Dreux</text>
                </g>
                <g class="ville" data-ville="Grenoble" transform="translate(371,320)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="70" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Grenoble</text>
                </g>
                <g class="ville" data-ville="Joinville" transform="translate(351,148)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-50" y="-30" width="60" height="18" rx="4" ry="4"/>
                    <text x="-47" y="-16">Joinville</text>
                </g>
                <g class="ville" data-ville="Le Havre" transform="translate(174,92)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-50" y="-30" width="70" height="18" rx="4" ry="4"/>
                    <text x="-47" y="-16">Le Havre</text>
                </g>
                <g class="ville" data-ville="Lons-Le-Saunier" transform="translate(365,241)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="120" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Lons-Le-Saunier</text>
                </g>
                <g class="ville" data-ville="Marseille-BB" transform="translate(359,410)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="70" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Marseille BB</text>
                </g>
                <g class="ville" data-ville="Montauban" transform="translate(217,382)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="80" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Montauban</text>
                </g>
                <g class="ville" data-ville="Montlucon" transform="translate(261,259)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="80" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Montluçon</text>
                </g>
                <g class="ville" data-ville="Nancy" transform="translate(387,134)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Nancy</text>
                </g>
                <g class="ville" data-ville="Nice" transform="translate(425,380)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="40" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Nice</text>
                </g>
                <g class="ville" data-ville="Niort" transform="translate(156,260)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="40" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Niort</text>
                </g>
                <g class="ville" data-ville="Nimes" transform="translate(323,392)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Nîmes</text>
                </g>
                <g class="ville" data-ville="Pau" transform="translate(157,420)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="40" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Pau</text>
                </g>
                <g class="ville" data-ville="Perigueux" transform="translate(195,320)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="70" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Perigueux</text>
                </g>
                <g class="ville" data-ville="Rouen" transform="translate(209,95)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="50" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Rouen</text>
                </g>
                <g class="ville" data-ville="St-Etienne" transform="translate(324,306)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-50" y="-30" width="70" height="18" rx="4" ry="4"/>
                    <text x="-47" y="-16">St-Etienne</text>
                </g>
                <g class="ville" data-ville="Saint-Étienne-de-Montcul" transform="translate(100, 215)">
                    <circle r="8"/>
                    <rect class="bg-text" x="-100" y="12" width="150" height="18" rx="4" ry="4"/>
                    <text x="-97" y="24">St Etienne de Montcul</text>
                </g>
                <g class="ville" data-ville="St-Malo" transform="translate(100,139)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="60" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">St Malo</text>
                </g>
                <g class="ville" data-ville="Toulouse" transform="translate(221,403)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="60" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Toulouse</text>
                </g>
                <g class="ville" data-ville="Valenciennes" transform="translate(294,46)">
                    <circle r="8"/>
                    <rect class="bg-text" x="8" y="-8" width="100" height="18" rx="4" ry="4"/>
                    <text x="12" y="5">Valenciennes</text>
                </g>
                <g class="outremer-inset" transform="translate(10, 400)"> <rect x="0" y="0" width="80" height="80" rx="5" ry="5" fill="none" stroke="black" stroke-width="1"/>
                    <text x="40" y="15" text-anchor="middle" font-size="10" fill="black">Martinique</text>
                    <g class="ville" data-ville="Fort-de-France" transform="translate(40, 45)"> <circle r="8"/>
                        <rect class="bg-text" x="8" y="-8" width="110" height="18" rx="4" ry="4"/>
                        <text x="12" y="5">Fort-de-France</text>
                    </g>
                </g>
            </svg>
        </section>
        <p>Cette application utilise Flask et MongoDB pour traiter et analyser les données météorologiques.</p>
    </main>
    {% include 'footer.html' %}
    <script>
        document.querySelectorAll('.ville').forEach(el => {
            el.addEventListener('click', () => {
                const ville = el.getAttribute('data-ville');
                if (ville) {
                    // Redirection vers /city avec le nom de la ville
                    window.location.href = `/city?ville=${encodeURIComponent(ville)}`;
                }
            });
        });
    </script>
</body>
</html>
